.text {
  display: flex;
}

.parent {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 200px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.names {
  display: flex;
  align-items: center;
  justify-content: center;
}

.names-selector {
  margin-left: 15px;
}
